<h2><%= pluralize @contribution_types.count, ContributionType.model_name.human %>:</h2>

<ul>
  <% @contribution_types.each do |type| %>
    <li>
    	<%= link_to type.name, edit_contribution_type_path(type),
    			class: :edit, style: "background-color: #{type.colour}" %>
  <% end %>
</ul>

<h3><%= t 'tert.new_x.male', model: ContributionType.model_name.human %></h3>

<%= render 'form' %>
