
<section id="guests">
  <%= render :partial => "guests/list" %>
</section>

<section id="contributions">
  <%= render :partial => "contributions/list" %>
</section>

<section id="comments">
  <%= render :partial => "comments/list" %>
</section>
