// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
	display: block;
	white-space: pre;
	white-space: pre-wrap;
}
#comments .description {
	border-left: dashed 1px grey;
	padding-left: 0.3em;
}