body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

*::before,
*::after {
  vertical-align: middle;
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#comments ul.options {
  display: inline;
}
ul.options {
  padding-left: 0;
  li {
    display: inline-block;
  }
  li+li {
    margin-left: 5px;
    padding-left: 5px;
    border-left: dotted 1px grey;
  }
}
nav>ul {
  display: inline;
  padding-left: 0;
  li {
    a {
      padding: 5px;
      display: inline-block;
    }
    display: inline-block;
    &.selected {
      border: solid 1px grey;
    }
    &.future {
      background-color: #DFF2BF;
      border-color: #4F8A10;
    }
  }
}
.event {
  padding: 1px 3px;
  &.future {
    background-color: #DFF2BF;
    border: solid 1px #4F8A10;
  }
  &.past {
    background-color: #F0F0EE;
    border: solid 1px #D3DBC5;
  }
}

#menu {
  position: fixed;
  top: 20px;
  right: 20px;
}
#menu a {
  border: dashed 1px grey;
  border-radius: 3px;
  padding: 2px 5px;
}

#messages>* {
    background-color: #F0F0EE;
    border: 2px solid #D3DBC5;
  padding: 1em;
}
#messages>*+* {
    margin-top: 10px;
}

#messages .notice {/*
    background-color: #F0F0EE;
    border-color: #D3DBC5;
}
#messages .success {*/
    background-color: #DFF2BF;
    border-color: #4F8A10;
}
#messages .warning {
    background-color: #FEEFB3;
    border-color: #9F6000;
}
#messages .alert {
    background-color: #FFCACA;
    border-color: #D8000C;
}
